*.pyc
__pycache
__pycache__
.env.dev*
.env.prod*
archieve
*env*
not-secrets.yaml
*.crt
*.pem
*.key
nginx.htpasswd
**/migrations/**
!**/migrations
!**/migrations/__init__.py
db.sqlite3
mediafiles
staticfiles
!.env.example*
!.env.dist*
outputs
PyWhatKit_DB.txt
.DS_STORE
*.db
*.sqlite3
venv
localmedia